spring:
  config:
    import:
      - application-secret.yml
      - application-collector.yml
      - application-elapsed-time-logging.yml

  application:
    name: "trendlapse"

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        highlight_sql: true
        format_sql: false
        default_batch_fetch_size: 100
    defer-datasource-initialization: true

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

  output:
    ansi:
      enabled: always

  task:
    scheduling:
      pool:
        size: 3

management:
  endpoints:
    web:
      exposure:
        include: prometheus, health

query-counter: true

logging:
  level:
    org.hibernate.SQL: INFO
    org.springframework.jdbc.core.JdbcTemplate: INFO

server:
  compression:
    enabled: true
    mime-types: application/json
    min-response-size: 1024
