youtube-data-api:
  base-url: https://www.googleapis.com/youtube/v3
  max-result-count: 50
  use-log: false
  retry-count: 5
  timeout: 10

collect-scheduler:
  collect-size: 100
  collect-cron: '0 20 * * * *'
  use-log: false

collector:
  use-log: false

purge-scheduler:
  expiration-period: 30d
  purge-cron: '0 0 0 * * *'
  batch-size: 1000
  use-log: false

reporter:
  region-ids: KR,US
