spring:
  config:
    import: application-secret.yml

  application:
    name: "trendlapse"

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: false
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        highlight_sql: true
        format_sql: false
        default_batch_fetch_size: 100
    defer-datasource-initialization: true

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

  output:
    ansi:
      enabled: always

  task:
    scheduling:
      pool:
        size: 3

management:
  endpoints:
    web:
      exposure:
        include: prometheus, health

youtube-data-api:
  base-url: https://www.googleapis.com/youtube/v3
  max-result-count: 50
  use-log: false
  retry-count: 5
  timeout: 10

collect-scheduler:
  collect-size: 100
  collect-cron: '0 20 * * * *'
  use-log: false

collector:
  use-log: false

purge-scheduler:
  expiration-period: 30d
  purge-cron: '0 0 0 * * *'
  batch-size: 1000
  use-log: false

elapsed-time-logging:
  tasks:
    - pointcut: "execution(* io.github.hamsteak.trendlapse.collector.application.component.collector.TrendingCollector.collect(..))"
      name: "Trending Collect"
    - pointcut: "execution(* io.github.hamsteak.trendlapse.collector.application.component.fetcher.TrendingFetcher.fetch(..))"
      name: "Trending Fetch"
    - pointcut: "execution(* io.github.hamsteak.trendlapse.collector.application.component.storer.TrendingStorer.store(..))"
      name: "Trending Store"

    - pointcut: "execution(* io.github.hamsteak.trendlapse.collector.application.component.collector.VideoCollector.collect(..))"
      name: "Video Collect"
    - pointcut: "execution(* io.github.hamsteak.trendlapse.collector.application.component.fetcher.VideoFetcher.fetch(..))"
      name: "Video Fetch"
    - pointcut: "execution(* io.github.hamsteak.trendlapse.collector.application.component.storer.VideoStorer.store(..))"
      name: "Video Store"

    - pointcut: "execution(* io.github.hamsteak.trendlapse.collector.application.component.collector.ChannelCollector.collect(..))"
      name: "Channel Collect"
    - pointcut: "execution(* io.github.hamsteak.trendlapse.collector.application.component.fetcher.ChannelFetcher.fetch(..))"
      name: "Channel Fetch"
    - pointcut: "execution(* io.github.hamsteak.trendlapse.collector.application.component.storer.ChannelStorer.store(..))"
      name: "Channel Store"

    - pointcut: "execution(* io.github.hamsteak.trendlapse.purger.application.scheduler.TrendingPurgeScheduler.purge(..))"
      name: "Trending Purge"

    - pointcut: "execution(* io.github.hamsteak.trendlapse.trending.application.service.TrendingService.searchTrending(..))"
      name: "Trending Search (Caching)"
    - pointcut: "execution(* io.github.hamsteak.trendlapse.trending.application.service.TrendingService.searchTrendingBatchSize(..))"
      name: "Trending Search (Batch Size)"
    - pointcut: "execution(* io.github.hamsteak.trendlapse.trending.application.service.TrendingService.searchTrendingFetchJoin(..))"
      name: "Trending Search (Fetch Join)"
    - pointcut: "execution(* io.github.hamsteak.trendlapse.trending.application.service.TrendingService.searchTrendingJoinDTO(..))"
      name: "Trending Search (Join + DTO)"

query-counter: true

logging:
  level:
    org.hibernate.SQL: INFO
    org.springframework.jdbc.core.JdbcTemplate: INFO

server:
  compression:
    enabled: true
    mime-types: application/json
    min-response-size: 1024
