|===
|Cookie|Description|Optional

{{#cookies}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{description}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{optional}}+`{{/tableCellContent}}

{{/cookies}}
|===